:root {
  --light-pink: #faebf0;
  --pink: #edb6c8;
  --pink-dark: #cba9a9;
  --black: #090705;
  --brown: #58432a;
  --red: #b8403b;
  --yellow: #bfa453;
  --pink-darkest: #b07c74;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
