.container {
  width: 22%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  cursor: pointer;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--red);
}

.price {
  font-size: 1.8rem;
  font-weight: 600;
}

.desc {
  text-align: center;
  font-size: 1.6rem;
}
